# .env_example

# 'development','production', 'testing'
FLASK_ENV=development

# Secret key for Flask app
#(generate a secure random key for production)
SECRET_KEY=your-secure-secret-key

# Database URI
#(e.g., SQLite for development, PostgreSQL/MySQL for production)
# postgresql://user:password@localhost/dbname
DATABASE_URL=sqlite:///app.db